mat-toolbar {
  width: 100%;
  min-height: 10vh;
}

img {
  width: 50px;
}

.nav-items {
  list-style: none;
  font-size: 16px;
  display: inline-flex;
  padding-left: 5px;
}

span {
  padding-left: 5px;
  margin: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.nav:hover,
.nav:active,
.active {
  color: rgb(189, 189, 189);
}

.sidebar-toggler {
  position: absolute;
}

li {
  cursor: pointer;
  color: silver;
}

.logout {
  color: white;
  cursor: pointer;
}

.logout:hover {
  color: silver;
}
