<mat-toolbar color="primary">
  <mat-toolbar-row
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="logo-wrapper" flexLayout="row" fxLayoutAlign="start center">
      <img src="../../assets/perilwise.logo.jpg" />
      <span>Perilwise</span>
    </div>
    <div class="navigation">
      <ul class="nav-items">
        <li><span>Home</span></li>
        <li><span>Blog</span></li>
        <li><span>Blog</span></li>
        <li><span>Blog</span></li>
        <li><span>Blog</span></li>
        <li><span>Blog</span></li>
        <li><span>Blog</span></li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
