<mat-card class="company-card">
  <mat-card-header>
    <mat-card-title>{{ company.companyName }}</mat-card-title>
    <mat-card-subtitle
      >{{ company.city }} , {{ company.state }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image src="../../assets/company.jpg" />
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="space-evenly center">
    <button mat-raised-button color="primary" (click)="openSnackBar()">
      <span>Profile</span>
    </button>
    <button
      *ngIf="admin"
      mat-raised-button
      class="blue"
      [routerLink]="'/form/' + company.id"
    >
      <span>View Details</span>
    </button>
  </mat-card-actions>
</mat-card>
