<mat-card class="company-card">
  <mat-card-header>
    <mat-card-title>{{ company.companyName }}</mat-card-title>
    <mat-card-subtitle
      >{{ company.city }} , {{ company.state }}</mat-card-subtitle
    >
  </mat-card-header>
  <img mat-card-image src="../../assets/company.jpg" />

  <mat-card-actions fxLayoutAlign="space-evenly center">
    <button mat-raised-button color="primary" (click)="openSnackBar()">
      <mat-icon>meeting_room</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-raised-button class="blue" (click)="openSnackBar()">
      <mat-icon>near_me</mat-icon>
      <span>Official Page</span>
    </button>
  </mat-card-actions>
</mat-card>
